{% extends 'base.html.twig' %}

{% block title %}Catalogue des formations{% endblock %}

{% block body %}
    <h1>Catalogue des formations</h1>
    <table class='table'>
    {% for formation in formations %}
        <td>
                <div class="card" style="width: 20rem;">
                    <img src="/img/fcpro2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ formation.name }}</h5>
                        <p class="card-text">{{ formation.content }}</p>
                        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvas-{{ formation.id }}" role="button" aria-controls="offcanvasExample">
                            Détails
                            </a>
                            <div class="btn btn-primary"> Places disponibles: {{ formation.capacity }}</div>
                            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-{{ formation.id }}" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvas-{{ formation.name }}">{{ formation.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div align='center'>
                                    <strong> Dates : </strong>{{ formation.startDateTime ? formation.startDateTime|date('d/m/Y') : '' }} - {{ formation.endDateTime ? formation.endDateTime|date('d/m/Y') : '' }}<br><hr>
                                    <strong> Tarif :</strong> {{ formation.price }}€<br><hr>
                                    <strong> Capacité :</strong> {{ formation.capacity }} personnes.<br><hr>
                                    <strong> Contenu :</strong> {{ formation.content }}<br><hr>
                                    <strong> Description :</strong> {{ formation.description }}<br><hr>
                                    
                                </div>
                                <!--<div class="dropdown mt-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Dropdown button
                                </button>
                                
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>-->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        <td>
    
    
    {% else %}
            <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            </p>
            <a class="btn btn-primary disabled placeholder col-6"></a>
        </div>
        </div>
    {% endfor %}
    </table>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <!--<th>Content</th>-->
                <th>Capacity</th>
                <th>Price</th>

                <!--<th>Description</th>-->
                <th>StartDateTime</th>
                <th>EndDateTime</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.name }}</td>
                <!--<td>{{ formation.content }}</td>-->
                <td>{{ formation.capacity }}</td>
                <td>{{ formation.price }}</td>
                <!--<td>{{ formation.description }}</td>-->
                <td>{{ formation.startDateTime ? formation.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.endDateTime ? formation.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
